<nb-layout>
  <nb-layout-header fixed>
    <h3>XMeme</h3>
    <button (click)="openWindow()" nbButton outline status="primary">Add Meme</button>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <nb-card style="width:fit-content;">
        <nb-card-header>Caption</nb-card-header>
        <nb-card-body>
          <img
            src="https://cdn.vox-cdn.com/thumbor/cV8X8BZ-aGs8pv3D-sCMr5fQZyI=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/19933026/image.png"
            style="max-height: 400px;">
        </nb-card-body>
        <nb-card-footer>By Author</nb-card-footer>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
