<form [formGroup]="memeForm" (ngSubmit)="onSubmit()" class="col-md-12 col-sm-8">
  <nb-form-field class="mb-3">
    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
    <input type="text" formControlName="name" type="text" fieldSize="large" fullWidth placeholder="Enter your name"
      nbInput required>
  </nb-form-field>
  <nb-form-field class="mb-3">
    <nb-icon nbPrefix icon="image-outline" pack="eva"></nb-icon>
    <input type="text" formControlName="url" type="text" fieldSize="large" fullWidth placeholder="Enter image url"
      nbInput required>
  </nb-form-field>
  <nb-form-field class="mb-3">
    <textarea nbInput formControlName="caption" fullWidth placeholder="Enter Caption here" fieldSize="large"></textarea>
  </nb-form-field>
  <button type="submit" nbButton fullWidth status="primary">Submit Meme</button>
</form>
