<form>
  <nb-form-field class="mb-3">
    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
    <input type="text" type="text" fieldSize="large" fullWidth placeholder="Enter your name" nbInput>
  </nb-form-field>
  <nb-form-field class="mb-3">
    <nb-icon nbPrefix icon="image-outline" pack="eva"></nb-icon>
    <input type="text" type="text" fieldSize="large" fullWidth placeholder="Enter image url" nbInput>
  </nb-form-field>
  <nb-form-field class="mb-3">
    <textarea nbInput fullWidth placeholder="Enter Caption here" fieldSize="large"></textarea>
  </nb-form-field>
  <button nbButton fullWidth status="primary">Submit Meme</button>
</form>
